In [157]:
import pandas as pd
import os

In [158]:
# find all files with .pdf extension in directory schedules
csv_files = [f for f in os.listdir('../schedules') if f.endswith('.csv')]
print(csv_files)

['Fall22.csv', 'Fall23.csv', 'Fall21.csv', 'Spring24.csv', 'Spring22.csv', 'Spring23.csv']

In [159]:
CORE_LIST = ['101', '128', '261', '262', '200', '220', '274', '306', '341', '358', '400', '403', '406', '442']
NUM_LIST = ['Cap', 'Act', 'Rem', 'WL Cap','WL Act','WL Rem','XL Cap','XL Act','XL Rem']

In [160]:
for file in csv_files: 
    print("====", file.upper(), '====')

    sem_df = pd.read_csv('../schedules/' + file)
    # change CrseNum to string
    sem_df['CrseNum'] = sem_df['CrseNum'].astype(str)

    # filter to only CrseNum in CORE_LIST
    core_df = sem_df[sem_df['CrseNum'].isin(CORE_LIST)]

    # set all columns in NUM_LIST to int
    for col in NUM_LIST:
        core_df.loc[:,col] = core_df[col].astype(int)

    # group by CrseNum and sum across NUM_LIST
    core_df = core_df.groupby(['CrseNum','Title']).sum().reset_index()

    # drop unncessary columns
    core_df = core_df[NUM_LIST + ['CrseNum', 'Title']]

    display(core_df)

==== FALL22.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,581,559,22,0,0,0,0,0,0,101,INTRODUCTION TO COMPUTER SCIENCE
1,240,238,2,0,0,0,0,0,0,200,FOUNDATIONAL PROGRAMMING CONCEPTS & DESIGN
2,192,183,9,0,0,0,0,0,0,220,DATA STRUCTURES AND ALGORITHMS
3,30,18,12,0,0,0,0,0,0,261,PROGRAMMING CONCEPTS
4,30,14,16,0,0,0,0,0,0,262,DATA STRUCTURES
5,185,175,10,0,0,0,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
6,218,164,54,0,0,0,0,0,0,306,SOFTWARE ENGINEERING
7,183,147,36,0,0,0,0,0,0,341,COMPUTER ORGANIZATION
8,190,181,9,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
9,143,149,-6,0,0,0,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
10,141,135,6,0,0,0,0,0,0,403,DATA BASE MANAGEMENT
11,170,174,-4,0,0,0,0,0,0,406,ALGORITHMS
12,146,149,-3,0,0,0,0,0,0,442,OPERATING SYSTEMS

==== FALL23.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,865,815,50,35,0,35,0,0,0,128,COMPUTER SCIENCE FOR STEM
1,365,364,1,150,0,150,0,0,0,200,FOUNDATIONAL PROGRAMMING CONCEPTS & DESIGN
2,240,235,5,50,0,50,0,0,0,220,DATA STRUCTURES AND ALGORITHMS
3,215,210,5,75,0,75,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
4,180,161,19,75,0,75,0,0,0,306,SOFTWARE ENGINEERING
5,153,149,4,50,0,50,0,0,0,341,COMPUTER ORGANIZATION
6,197,194,3,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
7,184,176,8,50,0,50,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
8,150,133,17,50,0,50,0,0,0,403,DATA BASE MANAGEMENT
9,166,164,2,15,0,15,0,0,0,406,ALGORITHMS
10,180,131,49,50,0,50,0,0,0,442,OPERATING SYSTEMS

==== FALL21.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,486,474,12,0,0,0,0,0,0,101,INTRODUCTION TO COMPUTER SCIENCE
1,243,209,34,0,0,0,0,0,0,261,PROGRAMMING CONCEPTS
2,619,566,53,0,0,0,0,0,0,262,DATA STRUCTURES
3,275,250,25,0,0,0,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
4,180,158,22,0,0,0,0,0,0,306,SOFTWARE ENGINEERING
5,199,183,16,0,0,0,0,0,0,341,COMPUTER ORGANIZATION
6,164,157,7,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
7,123,132,-9,0,0,0,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
8,132,129,3,0,0,0,0,0,0,403,DATA BASE MANAGEMENT
9,130,128,2,0,0,0,0,0,0,406,ALGORITHMS
10,141,125,16,0,0,0,0,0,0,442,OPERATING SYSTEMS

==== SPRING24.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,610,572,38,0,0,0,0,0,0,128,COMPUTER SCIENCE FOR STEM
1,300,302,-2,0,0,0,0,0,0,200,FOUNDATIONAL PROGRAMMING CONCEPTS & DESIGN
2,220,200,20,0,0,0,0,0,0,220,DATA STRUCTURES AND ALGORITHMS
3,150,106,44,0,0,0,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
4,180,168,12,0,0,0,0,0,0,306,SOFTWARE ENGINEERING
5,170,170,0,0,0,0,0,0,0,341,COMPUTER ORGANIZATION
6,210,194,16,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
7,140,111,29,0,0,0,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
8,163,160,3,0,0,0,0,0,0,403,DATA BASE MANAGEMENT
9,227,222,5,0,0,0,0,0,0,406,ALGORITHMS
10,213,195,18,0,0,0,0,0,0,442,OPERATING SYSTEMS

==== SPRING22.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,570,552,18,0,0,0,0,0,0,101,INTRODUCTION TO COMPUTER SCIENCE
1,240,226,14,0,0,0,0,0,0,261,PROGRAMMING CONCEPTS
2,420,312,108,0,0,0,0,0,0,262,DATA STRUCTURES
3,180,151,29,0,0,0,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
4,210,197,13,0,0,0,0,0,0,306,SOFTWARE ENGINEERING
5,140,139,1,0,0,0,0,0,0,341,COMPUTER ORGANIZATION
6,178,163,15,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
7,126,117,9,0,0,0,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
8,178,176,2,0,0,0,0,0,0,406,ALGORITHMS
9,193,176,17,0,0,0,0,0,0,442,OPERATING SYSTEMS

==== SPRING23.CSV ====

,Cap,Act,Rem,WL Cap,WL Act,WL Rem,XL Cap,XL Act,XL Rem,CrseNum,Title
0,594,574,20,0,0,0,0,0,0,101,INTRODUCTION TO COMPUTER SCIENCE
1,300,301,-1,0,0,0,0,0,0,200,FOUNDATIONAL PROGRAMMING CONCEPTS & DESIGN
2,210,179,31,0,0,0,0,0,0,220,DATA STRUCTURES AND ALGORITHMS
3,180,148,32,0,0,0,0,0,0,274,INTRODUCTION TO THE LINUX OPERATING SYSTEM
4,200,146,54,0,0,0,0,0,0,306,SOFTWARE ENGINEERING
5,165,155,10,0,0,0,0,0,0,341,COMPUTER ORGANIZATION
6,192,190,2,0,0,0,0,0,0,358,DISCRETE MATHEMATICS
7,150,118,32,0,0,0,0,0,0,400,PRINCIPLES OF PROGRAMMING LANGUAGES
8,190,163,27,0,0,0,0,0,0,403,DATA BASE MANAGEMENT
9,170,170,0,0,0,0,0,0,0,406,ALGORITHMS
10,215,201,14,0,0,0,0,0,0,442,OPERATING SYSTEMS